<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586180801814-1mum2bjidl7votav8dlnnm158061l137.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586180801814-1mum2bjidl7votav8dlnnm158061l137</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>586180801814-bhga5gv0u2v06nf76ukjej7c6ipujsd9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZYoJYhtlAL0PpRdYRHlehik5iiJ36HM</string>
	<key>GCM_SENDER_ID</key>
	<string>586180801814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neuflo.neuflolearnv1</string>
	<key>PROJECT_ID</key>
	<string>neuflo-neuflolearn</string>
	<key>STORAGE_BUCKET</key>
	<string>neuflo-neuflolearn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586180801814:ios:7451aa0adec4281ed54c37</string>
</dict>
</plist>